<div id="form" class="center">
  <%= simple_form_for(@email) do |f| %>
    <div class="form-inputs">
      <%= f.input :email, input_html: {style: 'height:33px; width:370px' }, label: false, :placeholder => 'Your Email.'  %>
    </div>
    <br>
    <div class="form-actions">
      <%= f.submit "Sign up!", class: 'btn btn-success' do %>
        <i class="glyphicon glyphicon-plus"></i> New Todo
      <% end %>
    </div>
    <%= f.error_notification %>
  <% end %>
</div>