<!DOCTYPE html>
<html>
<head>
  <title>Dashbdiolanding</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <div class="row">
      <div class="col-xs-12">
        <h3>Dashbd.io: keep me posted</h3>
      </div>
      <div class="col-xs-12">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>