<!DOCTYPE html>
<html>
<head>
  <title>Dashbdiolanding</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <div class="col-xs-12 dashbdiofont padding center">
      <h1>Dashbd.io: keep me posted</h1>
    </div>
    <div class="col-xs-12 padding">
      <%= yield %>
    </div>
  </div>
</body>
</html>